<ion-view view-title="My Stocks" id="my-stocks">

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="modalService.openModal(1)">
      <i class="icon icon-small ion-ios-search"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher
      pulling-text="Pull to refresh.."
      on-refresh="getMyStocksData()"
      class="margin-auto"
    ></ion-refresher>

    <ion-list>
      <ion-item ng-repeat="stock in myStocksData | orderBy: '-PercentChange' track by stock.Symbol" ng-href="#/app/{{stock.Symbol}}">
        <div class="row row-center">
          <div class="col stock-ticker-name ">
            <h3>{{stock.Symbol}}</h3>
          </div>
          <div class="col col-25 stock-price-time">
            <h3>{{stock.LastTradePriceOnly}}</h3>
            <h6>{{stock.LastTradeTime}}</h6>
          </div>
          <div class="col col-33 stock-change" ng-class="stock.Change >= 0 ? 'background-green' : 'background-red'">
            <h3>{{stock.Change}}</h3>
            <h6>{{stock.PercentChange}}</h6>
          </div>
        </div>

        <ion-option-button class="button-light icon ion-minus-circled color-red inset-shadow" ng-click="unfollowStock(stock.Symbol)"></ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
