<ion-view view-title={{ticker}}>

<div class="bar bar-subheader bar-light">

  <div class="buttons" side="left">
    <div class="button button-clear">
      <h6>{{stockDetailsData.Name}}</h6>
    </div>
  </div>

  <h2 class="title button-left button-right">{{stockPriceData.l}}</h2>

  <div class="buttons" side="right">
    <div class="button button-clear">
      <h6>{{stockPriceData.cp}}%</h6>
    </div>
  </div>

</div>

  <ion-content class="has-subheader">

  <!--
  https://www.google.com/finance/getchart?q=MSFT&p=1d&i=60
  https://www.google.com/finance/getchart?q=MSFT&p=5d&i=240
  https://www.google.com/finance/getchart?q=MSFT&p=3M&i=86400
  https://www.google.com/finance/getchart?q=MSFT&p=1Y&i=86400
  https://www.google.com/finance/getchart?q=MSFT&p=40Y&i=604800
  -->

        <div class="card">
      <div class="item item-divider">Market Data</div>
      <div class="row row-center">
        <div class="col">:</div>
        <div class="col">{{}}</div>
        <div class="col">:</div>
        <div class="col">{{}}</div>
      </div>
      <div class="row row-center">
        <div class="col">:</div>
        <div class="col">{{}}</div>
        <div class="col">:</div>
        <div class="col">{{}}</div>
      </div>
      <div class="row row-center">
        <div class="col">:</div>
        <div class="col">{{}}</div>
        <div class="col">:</div>
        <div class="col">{{}}</div>
      </div>
    </div>

<div class="card">
  <div class="item item-divider">Notes</div>
  <a class="item">
    <h2>Note Title</h2>
  </a>
</div>

<div class="card">
  <div class="item item-divider">News</div>
  <a class="item item-icon-right">
    <h2>News Story Title</h2>
    <i class="icon ion-ios-arrow-right"></i>
  </a>
</div>

  </ion-content>
</ion-view>
